.content-wrapper>.content {
    padding: 1px 0.5rem;
}
[class*=sidebar-dark-] .sidebar a {
    color: white;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link {
    color: white;
}
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:focus, [class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link.active:hover {
    background-color: white;
    color: black;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}

.bootstrap-select .dropdown-toggle.bs-placeholder {
    border: solid #CED4DA 1px;
}
#showList .card-header .title {
    font-size: 17px;
    color: #000;
}
#showList .card-header .accicon {
  float: right;
  font-size: 20px;  
  width: 1.2em;
}
#showList .card-header{
  cursor: pointer;
  border-bottom: none;
}
#showList .card{
  border: 1px solid #ddd;
}
#showList .card-body{
  border-top: 1px solid #ddd;
}
#showList .card-header:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}